<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".zedMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.zedMovies.Splash"
        tools:targetApi="tiramisu">
        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".ui.webview.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionbar.FullScreen.zedMovies"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".zedMoviesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>